[pyrogram]
api_id = 15073774
api_hash = f0d9876395c19d51bbd0da0ac86d71f0

[mongo]
is_atlas = false
url = localhost
db_name = userbot
db_username = none
db_password = none

[pm_permit]
pm_permit = false
pm_limit = 5

[logs]
log_group = None

[yandex]
key = your-key-but-Yandex-no-longer-gives

[misc]
yourls_url = http://your-domain.test/yourls-api.php
yourls_key = your key here

[spotify]
username =
client_id =
client_secret =